---
import ManIcon from '../components/ManIcon.svelte';
import Meicycle from '../components/Meicycle.svelte';
import Footer from '../components/Footer.svelte';
import '../styles/style.css';
import AgeComparisonChart from '../components/AgeComparisonChart.svelte'
import YearsServedChart from "../components/YearsServedChart.svelte";
import YearDropdown from "../components/YearDropdown.svelte";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<html>
<body>
	<h1>Politicians</h1>
	<h3>With Age Comes With Experience</h3><br>
  
  <div class="blurb">
    <p>fkjkjuhiuh iuhoivuhvu guygugugyivgugv uguigvugugjgkuxtuxtutxcuvugubu biuyguyguygciyicuityuiutiutttttttt ttttttttttttttttttt ttttttttttttttttttttt
    hghjgkjgjgkjgkjgkjgk jgkjgkuuuuuuuuuuuu. uuuuuuuuuhbuuuuuuuuuuuuuuuuuu. uuuuuuuuuuuuuuuuuu</p>
  </div>
  
  <YearDropdown client:load />

	<div class="meicycle-wrapper">
      <Meicycle 
        client:load
        rows={[25,23,21,19,17,15,13,11,9]}
        width={1200}
        rowHeight={260}
        rowGap={-215}
      />
    </div>

    <div class="blurb">
    <p>fkjkjuhiuhiuho ivuhvuguygugugyivgugv uguigvugugjgkuxtuxtutxcuvu gububiuyguyguygciyicuity
    hghjgkjgjgkjgkjgkjgkjg kjgkuuuuuuuuuuuuuuuuu uuuuuhbuuuuuuuuuuuuuuuuuuu uuuuuuuuuuuuuuuuuu</p>
  </div>

  <div class="chart">
    <AgeComparisonChart chamber={"House of Representatives"} client:load/>
  </div>
  <div class="chart">
    <AgeComparisonChart  chamber={"Senate"} client:load/>
  </div>

  <div class="blurb">
    <p>sntho snthaoes oea aeou aoeu uaoeuhtn aoeu. aoeuhhtn aoeuhtns auhetot uas aoeht na taoeu shteuao hteaouh hoeuts aoeu oeuh eh e e oe non e uhoetnnoh uoe o o. oe e etu u o o o u noeuttoeu tnoeu neo oen tlnsaohteur,.aucr aunsth ekj ak cecrh aecr cr laeouh a fm,arlmurlsmlr 'cr ',e .u hm r.u ,.ur .ucr rc kjkjuhiuh iiuhoivu vuguygugu gyivgugvuguig vugugjgkuxtu xtutxcuvugububiuy guyguygciyicuityu iutiutttt tttttttttttt tttttttttttttttt ttttttttttt ttttt
    hghjgkjgjgkjgkjgkjgkjgk
    jgkuuuuuuuuuu uuuuuuuuu uuuhbuuuuuuuuuuuuuuuuuuuuuuuu uuuuuuuuuuuuu</p>
  </div>
  

  <div class="chart">
	  <YearsServedChart client:load />
  </div>

  <div class="blurb">
    <p>fkjkjuhiuhiuhoiv uhvuguygugug yivgugvuguigvug ugjgkuxtuxtutxcuvugububiuyg uyguygciyicuityuiutiuttttttttttttt ttttttttttttttttttttttttttttttttttt
    hghjgkjgjgkjgkjgkjgkjgkjgku uuuuuuuuuuuuuuuuuuuuuhbuuuuuuuuuuuuuuu uuuuuuuuuuuuuuuuuuuuuu</p>
  </div>


  <hr>
	<Footer />
</body>
</html>