---
import ManIcon from '../components/ManIcon.svelte';
import Meicycle from '../components/Meicycle.svelte';
import Footer from '../components/Footer.svelte';
import '../styles/style.css';
import AgeComparisonChart from '../components/AgeComparisonChart.svelte'
import YearsServedChart from "../components/YearsServedChart.svelte";
import YearDropdown from "../components/YearDropdown.svelte";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<html>
<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/x-icon" href="./public/favicon.ico" />
</head>
<body>
	<h1>Politicians</h1>
	<h3>With Age Comes Experience</h3>
  <div class="blurb">
    <p>As the years pass, so many things around us seem to change. Yet, through it all, the same politicians always seem to remain in power. We aimed to visualize this trend in aging legislators, highlighting the many members of Congress.
      <br><br>
      The visualization below represents the age of Congress members during a specified year. The older a Congress member is, the whiter their hair will be. Hovering over any one icon will show you the age, years served in the House, and years served in the Senate of a real member of Congress. Selecting another year on the timeline will change the visualization to use data from Congress members from that year. </p>
  </div>
  
  <YearDropdown client:load />

	<div class="meicycle-wrapper">
      <Meicycle 
        client:load
        rows={[0,0,0,0,0,0,0,0,0,0,0,0,0]}
        width={1200}
        rowHeight={260}
        rowGap={-217}
      />
    </div>

    <div class="blurb">
    <p>You may notice that the icons with hair that leans closer to gray and white significantly outnumber icons with black hair. This remains true for most years selected, but the percentage of gray and white hair is higher in more recent years.
      <br><br>
      To illustrate this more clearly, we also created bar graphs to visualize the age distribution of Congress members in a selected year. These are separated into the House and Senate, making comparison between the age distribution of the two simple.
      <br><b>Note</b>: The House has 435 members, and the Senate has 100 members, so the Y-axis of both scales have been adjusted to account for the number of members in each chamber.</p>
  </div>

    <h2>Age Distribution of Congress</h2>
    <div class="bar-chart-container">
        <AgeComparisonChart chamber={"House of Representatives"} client:load/>
        <AgeComparisonChart  chamber={"Senate"} client:load/>
    </div>

  <div class="blurb">
    <p>Not is Congress senior-dominated, but many of its elderly members have been serving for decades. This clustered bar chart illustrates the average years of experience Congress members in each age range have in a specified year. </p>
  </div>
  

  <div class="chart">
	  <YearsServedChart client:load />
  </div>

  <div class="blurb">
    <p>Despite the fact that terms in the House and Senate are two and six years long respectively, members can keep serving as long as they're reelected. This means that there are many members that have been serving for decades, as shown in the above graph. Senior members of our current Congress will have to retire eventually, but whether this trend will continue with today's younger Congress members is yet to be determined.</p>
  </div>


  <hr>
	<Footer />
</body>
</html>