---
import ManIcon from '../components/ManIcon.svelte';
import Meicycle from '../components/Meicycle.svelte';
import AgeComparisonGraph from '../components/AgeComparisonGraph.svelte';
import YearsServedGraph from '../components/YearsServedGraph.svelte';
import Footer from '../components/Footer.svelte';
import '../styles/style.css';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<html>
<body>
	<h1>Politicians</h1>
	<h3>With Age Comes With Experience</h3>

	<div class="meicycle-wrapper">
      <Meicycle
        rows={[21,19,17,15,13,11,9]}
        width={900}
        rowHeight={260}
        rowGap={-200}
      />
    </div>

	<br></br>
	<p>Good old explanation test and whatnot.</p>
	<br></br>

    <section class="graph">
      <h2>Age Distribution</h2><br>
      <AgeComparisonGraph client:load />
    </section>
	<br></br>
	Super epic, awesome, cool, regal text e

    <section class="graph">
      <h2>Years Served by Age</h2>
      <YearsServedGraph client:load />
    </section>

	<Footer />
</body>
</html>