---
import ManIcon from '../components/ManIcon.svelte';
import Meicycle from '../components/Meicycle.svelte';
import Footer from '../components/Footer.svelte';
import '../styles/style.css';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<html>
<body>
	<h1>Politicians</h1>
	<h3>With Age Comes With Experience</h3>

	<div class="meicycle-wrapper">
      <Meicycle
        rows={[21,19,17,15,13,11,9]}
        width={900}
        rowHeight={260}
        rowGap={-200}
      />
    </div>

	<p> text test. i want to see if this is going to be readable. its ok. it really is not the best for text as it is CAPSLOCKED</p>

	<h1>ManIcon Test</h1>
	<ManIcon client:load/><ManIcon client:load/><ManIcon client:load/><ManIcon client:load/><ManIcon client:load/><ManIcon client:load/>
	<ManIcon client:load/><ManIcon client:load/><ManIcon client:load/><ManIcon client:load/><ManIcon client:load/><ManIcon client:load/>
	<ManIcon client:load/><ManIcon client:load/><ManIcon client:load/><ManIcon client:load/><ManIcon client:load/><ManIcon client:load/>
	<ManIcon client:load/><ManIcon client:load/><ManIcon client:load/><ManIcon client:load/><ManIcon client:load/><ManIcon client:load/>

	<Footer />
</body>
</html>